@import './theme';

@sketchpad-prefix: ~'@{prefix}-sketchpad';

.@{sketchpad-prefix}-container {
  position: relative;
  height: 100%;
  background-color: white;
  width: 100%;
}

.@{sketchpad-prefix}-canvas {
  width: 100%;
  height: 100%;
}

.@{sketchpad-prefix}-textInput {
  position: absolute;
  outline: none;
  display: none;
  background: none;
  vertical-align: middle;
  border: 0px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42em;
  padding: 0;
  white-space: nowrap;
  user-select: auto;
}

.@{sketchpad-prefix}-resizer {
  position: absolute;
  width: 7px;
  height: 7px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid #d0d0d0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#latexFontSlider {
  position: relative;

  .ant-slider {
    margin: 20px 5px -2px 3px;
  }
}

#latexFontSlider::before{
  content: 'Select Size';
  position: absolute;
  font-size: 12px;
  top: -5px;
  left: 0;
}

.katex-formula {
  &:hover {
    background: rgba(255, 255, 255, 1);
  }
}

.latex-list {
  .latext-list-item {
    margin: 0px 5px 5px 0;
    opacity: 0.5;
    border: 1px solid #cecece;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 18px;
  }
}

.img-latex {
  opacity: 1;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);

  &:hover {
    opacity: 1;
    border: 1px solid #dadada;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);

  }
}

#latexInputContainer {
  &:hover {
    outline: none;
  }
}

#formulaBtn {
  font-size: 14px;
  width: auto;
  display: inline-block;
  align-self: flex-end;
  padding: 5px 10px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 0 0 #dadada;
  border: 1px solid #ececec;

  &:hover {
    outline: none;
  }
}

.katex .op-symbol.large-op {
  position: absolute;
  top: 1.5em;
  right: -0.5em;
}

.katex-display {
  margin: -10px 50px !important;
  padding: 30px 50px 50px;
  svg {
    margin-right: 20px;
  }
}

.katex {
  padding: 10px 20px 20px 20px;
  line-height: auto !important;

  * {
    margin-right: 10px;
  }

  .katex-html {
    padding: 10px 10px 0px;

    .base {
      padding: 20px 0 50px;

      .pstrut ~ span {
        width: 100% !important; 
      }
    }
  }

  span.mclose.delimcenter {
    top: -0.5em !important;
  }
  
  span.minner .mopen.delimcenter ~ span.mord {
    top: 0.25em;
    position: relative;
    padding: 50px 0;
  }
  
  span.mopen.delimcenter {
    top: -0.5em !important;
  }

  .delimsizing.size4 {
    position: relative;
    top: -0.5em;
  }
}

.katex .fontsize-ensurer.reset-size6.size1, .katex .sizing.reset-size6.size1 {
  margin-right: -30px
}

.katex .base > .mop.op-symbol.large-op {
  position: absolute;
  right: 0.25em;
  top: -0.5em !important;
}

span.mord.accent {
  position: relative;
  
  svg {
    position: absolute;
    top: 0;
    width: 2em;
    height: 20px;
  }
}